:root{
    --important: #cd2219;
    --primary-color1:#efa309;
    --primary-color2:#e5b555;
    --background-color:;
    --text-color1:;
    --text-color2:#004243;
    --text-color3:#03292a8e;
    --text-color4:;

    font-size: 16px !important;
    font-family: "Poppins";
}

body{

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Header*/
header{
    position: fixed;
    width: 100%;
    background-color: var(--text-color2);
}
#logo-fft{
    transition: 600ms ease-in-out;
}
#logo-fft:hover{
    transform: rotate(-60deg);
    transition: 300ms ease-in-out;
}


.logo-container {
    display: inline-block;
    cursor: pointer;
}

.logo-text {
    font-family:"Poppins";
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    background: linear-gradient(90deg, 
        #ffffff, #e9e8e8 50%, 
        #ca8702 50%, #e19600 100%
    );
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
}

.pulse-animation {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.pulse-animation:hover .logo-text {
    animation: pulse-text 1s 1.3;
}


@keyframes pulse-text {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}



#nav li{
    color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    padding-right: 1rem ;
    padding-left: 1rem;
    border-radius: 2rem;
    transition: 300ms ease-in ;
    cursor: pointer;
    font-weight: 400;
}

#nav li:hover{
        background-color: white;
        transition: 300ms ease-out ;
        transform: translateY(-0.15rem);
        color: var(--text-color2);
        box-shadow:
    0.4px 0.4px 2.2px rgba(0, 0, 0, 0.014),
    1.1px 1.1px 5.3px rgba(0, 0, 0, 0.02),
    2px 2px 10px rgba(0, 0, 0, 0.025),
    3.6px 3.6px 17.9px rgba(0, 0, 0, 0.03),
    6.7px 6.7px 33.4px rgba(0, 0, 0, 0.036),
    16px 16px 80px rgba(0, 0, 0, 0.05);
}
#nav li:nth-child(5):hover{
    background-color: var(--important);
    color: white;
}
#nav li:nth-child(2):hover{
    background-color: var(--primary-color1);
    color: rgb(0, 0, 0);
}


/*Landing*/
.landing{
    width: 100%;
    background-color: var(--primary-color1);
    background-image: radial-gradient(circle at 35% 14%, rgba(211,193,193, 0.21) 0%, rgba(211,193,193, 0.21) 39%,transparent 39%, transparent 90%,transparent 90%, transparent 100%),radial-gradient(circle at 76% 4%, rgba(211,193,193, 0.21) 0%, rgba(211,193,193, 0.21) 83%,transparent 83%, transparent 89%,transparent 89%, transparent 100%),radial-gradient(circle at 20% 33%, rgba(211,193,193, 0.21) 0%, rgba(211,193,193, 0.21) 83%,transparent 83%, transparent 90%,transparent 90%, transparent 100%),radial-gradient(circle at 44% 74%, rgba(211,193,193, 0.21) 0%, rgba(211,193,193, 0.21) 73%,transparent 73%, transparent 89%,transparent 89%, transparent 100%),radial-gradient(circle at 26% 31%, rgba(211,193,193, 0.21) 0%, rgba(211,193,193, 0.21) 44%,transparent 44%, transparent 75%,transparent 75%, transparent 100%),linear-gradient(0deg, rgb(239,163,9),rgb(251,191,69));}
.landingText{
    text-align: center;
    >h1{
        font-weight: 900;
        font-size: 5rem;
        text-align: center;
    }
    :nth-child(2){
        margin-top: -2rem;
    }
    :nth-child(3){
        margin-bottom: -1rem;
        font-size: 3.5rem;
        font-weight: 700;
        color: white;
    }
    :nth-child(5){
        margin-top: -4rem;
        color: var(--text-color2);
    }
}

.landingBtn{
    background-color: black;
    margin-left: 35%;
    transition: 200ms ease-in;
    font-weight: 500;
}
.landingBtn:hover{
    transform: scale(1.05);
    background-color: var(--primary-color1);
    color: black;
    transition: 200ms ease-out;
    font-weight: 700;
    border: 1px solid black;
}




/* About Section start */
.aboutUs{
    text-align: center;
}
.aboutUsText{
    z-index: 2;
    position: relative;
}
.aboutImg{
    margin-top: -18rem;
    z-index: -1;
}





































































































































